name: Deploy nginx deployment on kind cluster

on:
  push:
    branches:
      - main
jobs:
  deploy:
      runs-on: self-hosted
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: configure aws 
          run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=ap-south-1" >> $GITHUB_ENV

        - name: Fetch kubeconfig from ssm
          run: |
            aws ssm get-parameter \
              --name "/kind/kubeconfig" \
              --with-decryption \
              --query "Parameter.Value" \
              --output text > kubeconfig
            export KUBECONFIG=$PWD/kubeconfig
            kubectl get nodes


        - name: Deploy nginx
          run: |
            export KUBECONFIG=$PWD/kubeconfig
            kubectl apply -f k8s/deployment.yaml
            kubectl apply -f k8s/service.yaml

        - name: Verify
          run: |
            export KUBECONFIG=$PWD/kubeconfig
            kubectl get pods
            kubectl get svc


