name: Deploy nginx deployment on kind cluster

on:
  push:
    branches:
      - main
jobs:
  deploy:
      runs-on: self-hosted
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: configure aws creds
          run: |
            aws configure set aws_access_key_id ${{secrets.AWS_ACCESS_KEY_ID}}
            aws configure set aws_secret_access_key ${{secrets.AWS_SECRET_ACCESS_KEY}}
            aws configure set region ap-sout-1

        - name: Fetch kubeconfig from ssh
          run: |
            aws ssm get-parameter \
              --name "/kind/kubeconfig" \
              --with-decryption \
              --query "Parameter.value" \
              --output text > kubeconfig
            export KUBECONFIG=$PWD/kubeconfig
            kubectl get nodes


        - name: Deploy nginx
          run: |
            export KUBECONFIG=$PWD/kubeconfig
            kubectl apply -f k8s/deployment.yaml
            kubectl apply -f k8s/service.yaml

        - name: Verify
          run: |
            export KUBECONFIG=$PWD/kubeconfig
            kubectl get pods
            kubectl get svc


